streamlit>=1.24.0
pandas
plotly
requests
streamlit-lottie
streamlit-option-menu
streamlit-particles
streamlit-card
streamlit-extras
hydralit_components
numpy
scipy
scikit-learn
matplotlib
seaborn
openpyxl
xlrd
statsmodels
beautifulsoup4
lxml
pillow
python-dotenv
pyarrow
fastparquet
tabulate
altair
vega_datasets
